body {
    font-family: 'Raleway', sans-serif;
    margin: 0px 50px;
}

.logo { grid-area: logo; }

.header { 
    grid-area: header;
}

h3 {
    font-size: 55px;
    padding-left: 30px;
    font-family: 'Reenie Beanie', cursive;
    color:  rgba(52, 138, 29);
    text-align: left;
}
.main { 
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
}


.footer { 
    grid-area: footer;
    font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    font-size: 20px;
}

.grid-item {
    background-color: rgba(52, 138, 29);
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
 
a {
    color: white;
}

a:hover {
    color: #CA0729;
}

.teams {
    background-color: #454871;
}

.notebook {
    background-color: #5E2080;
}

.excel {
    background-color: #207244;
}

.ep {
    background-color: #16234E;
}
